/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

    .hero-left img{
        left: -10%;
    }

    .cb_right img {
        width: 50%;
        object-fit: cover;
    }
    
    .cb_left {
        margin-top: 80px;
        padding-left: 20px;
    }

    section.addres-area.mb_100 {
        height: 600px;
    }
    
    .responsive-map iframe {
        height: 600px;
    }
}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .hero-left img {
        width: 100%;
        max-width: 475px;
    }
    
    .hero_left {
        margin-top: 70px;
    }
    
    .hero_left h1 {
        font-size: 41px;
    }
    
    section.hero-area {
    }

section#hero {
    height: 500px;
}

.hero_title {
}
    
    .news_blk {
        width: 230px;
        height: 250px;
    }
    
    .news_blk h3 {
        font-size: 26px;
    }
    .cb_right img {
        width: 50%;
        object-fit: cover;
        height: 550px;
    }
    
    .cb_left {
        margin-top: 80px;
        padding-left: 20px;
    }
    section#news .news_wrp {
        justify-content: space-evenly;
        max-width: 780px;
    }
    
    section#news .news_blk.large {
        width: 350px;
    }
    .over_number_wrp {
        width: 700px;
    }
    
    section.addres-area.mb_100 {
        height: 500px;
    }
    
    .responsive-map iframe {
        height: 500px;
    }
    .menu-area ul li ul.mega_menu li:first-child {
        margin-left: 15%;
    }

}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }
    main {
        padding-top: 70px;
    }

 
    /*Home Page Start======== */
    .header-area {
        padding: 10px 20px;
    }
    

    
    .hero-left {
        display: none;
    }
    
    .Hero_bg_wrp {
        display: none;
    }
    
    .hero_left {text-align: center;margin: 100px 0;}

.hero_left h1 {
    max-width: 727px;
    margin: auto;
    margin-bottom: 20px;
}

a.thm_btn {
    font-size: 14px;
    padding: 12px 23px;
}
    
    .hero_left p {
        width: max-content;
        margin: auto;
        text-align: left;
        margin-bottom: 30px;
    }
    
    .info_cont {
        margin: auto;
    }
    
    section.info-area {
        padding: 67px 0;
    }
    
    .news_wrp {
        flex-wrap: wrap;
        max-width: 730px;
    }

section#news .news_blk.large {width: 350px;}
    
    section.news-area:after {
        height: 105%;
    }
    .news_blk{
    width: 350px;
}
    footer.footer-area .logo a img {
        margin: auto;
        width: max-content;
        display: block;
        margin-bottom: 50px;
    }
    
    a.crt {
        width: max-content;
        margin: auto;
        display: block;
    }
    .blog_img img {
        width: 100%;
    }
    .proof_blk p{
    font-size: 20px;
}

section.news-area {
    margin-bottom: 0;
}


    /*home Page End =========== */

 
    /* poducte Page Start======== */
    .hero_title {
        padding: 100px 0;
    }
    .dient_blog {
        padding-left: 50px;
    }
    /* poducte Page End =========== */

 
    /* service Page Start======== */
    .cb_right img {
        position: unset;
        max-width: 620px;
        margin: auto;
        display: block;
    }
    
    .cb_left.blog_cont {
        max-width: 620px;
        margin: 70px auto 70px;
        padding-left: 5px;
    }
    /* service Page End =========== */

 
    /* over-ons Page Start======== */
    .over_number_wrp {
        width: 700px;
    }
    
    section.addres-area.mb_100 {
        height: 400px;
        margin-bottom: 0;
    }
    
    .responsive-map iframe {
        height: 400px;
    }
    .address{
    margin-left: 35px;
}
.addres_left{
    flex: 0 0 60%;
}
section.over_number {
    padding: 60px 0;
}
section#ovn {
    padding-top: 60px;
}
    /* over-ons Page End =========== */

 
    /* Page Start======== */
    
    /* Page End =========== */

 
    /* Page Start======== */
    
    /* Page End =========== */

}

 
/* small screen :320px. */
@media (max-width: 767px) {

 
    /*Home Page Start======== */
    .header-area{
    padding: 20px 0 13px;
}
    .logo-area img {
        width: 140px;
    }
    
    .bar a {
        width: 20px;
    }

    .fd{
        flex-direction: column-reverse;
      }

.mb_100 {
    margin-bottom: 60px;
}
    .hero_btn {
        margin-bottom: 20px;
    }
    .bar a span {
        height: 2px;
    }
    
    .bar a span:before {
        bottom: 8px;
    }
    
    .bar a span:after {
        bottom: -8px;
    }
    .hero-left {
        display: none;
    }
    
    .Hero_bg_wrp {
        display: none;
    }
    
    .info_cont {
        max-width: 350px;
        width: 100%;
        padding: 30px 0px;
        box-shadow: none;
        background: no-repeat;
    }

.info_cont p {
    padding-left: 10px;
}

.info_cont h2 {
    font-size: 24px;
}
    
    .blog_img img {
        width: 250px;
        margin: auto;
        display: block;
        margin-bottom: 40px;
    }
    
    .news_wrp {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .footer_link {
    display: block;
    text-align: center;
    }

.footer_link ul {
    margin-bottom: 40px;
}
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 30px;
    }

.proof h2 {
    margin-bottom: 0;
}
    
    .hero_left h1 {
        text-align: center;
        font-size: 30px;
    }
    
    .hero_left p {
        padding: 0;
        border: none;
        text-align: center;
    }
    
    .hero_left {
        max-width: 349px;
        text-align: center;
        margin: 55px auto;
    }
    
    a.thm_btn {
        font-size: 14px;
        padding: 12px 24px;
    }
    
    .hero_btn .thm_btn {
        margin-bottom: 20px;
    }
    main {
        padding-top: 68px;
    }
    
    p {
        line-height: 28px;
    }
    
    section.usp-area {
        padding: 60px 0 40px;
    }
    
    .usp_blk p {
        margin-bottom: 5px;
    }
    
    .usp_blk {
        margin-bottom: 45px;
    }

.usp_blk i {
    margin-bottom: 20px;
}

.Prodact-usp .usp_blk p {
    max-width: 300px;
}
    
    .blog_cont h6 {
        font-size: 14px;
    }
    
    .blog_cont h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    
    section.blog-area .row:first-child {
        flex-direction: column-reverse;
    }
    
    section.blog-area {
        padding: 80px 0 50px;
    }
    section.info-area {
        background: none !important;
        padding: 0 0 30px;
    }
    
    img.info-bg {display: block;width: 100%;height: 350px;object-fit: cover;object-position: center;}
    .proof_blk h3 {
        font-size: 18px;
    }
    
    .proof_blk {
        text-align: left;
        margin-top: 30px;
    }
    
    .proof_blk p {
        font-size: 16px;
    }
    
    .proof_user {
        margin: 20px 0 0;
    }
    
    .proof_user a {
        font-size: 16px;
    }
    
    section.news-area h2 {
        font-size: 24px;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }
    
    section.news-area:after {
        height: 103%;
    }
    
    .news_blk h3 {
        font-size: 24px;
    }
    
    .news_blk {
        height: 235px;
    }

    .na_cont h1 {
        font-size: 32px;
        letter-spacing: 2px;
        max-width: 350px;
        margin-bottom: 50px;
    }
    
    section.news-Artikel {
        margin: 50px 0;
    }
section#news .news_blk.large {
    width: 350px;
}
    
    section.news-area {
        padding-bottom: 65px;
        margin-bottom: 0;
    }

section.proof-area {
    margin: 50px 0 80px;
}
    
    footer .logo {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .footer_link ul li h6 {
        margin-bottom: 20px;
    }
    
    .footer_link ul li a {
        margin-bottom: 7px;
    }
    
    a.crt {
        text-align: center;
    }
    
    footer.footer-area {
        padding: 50px 0 30px;
    }
    /*Home Page End =========== */

 
    /*Product  Page Start======== */
    section.roster-blog {
        margin: 50px 0;
      }
      .hero_title {
        padding: 70px 0;
    }
    /*Product  Page End =========== */

 
    /*contact-blog Page Start======== */
    .contact_box {
        width: 100%;
        max-width: 400px;
        margin: 50px auto;
    }
    
    .cb_right img {
        top: auto;
        height: 380px;
        left: 0;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .cb_left.blog_cont {
        padding-left: 0;
        margin: 50px 0;
    }
    
    .cb_left.blog_cont p:last-child {
        margin-top: 30px;
    }
    
    section.contact-blog {
        margin-bottom: 400px;
    }
    
    .contact_box h1 {
        text-align: center;
    }
    
    .blog_cont p {
        margin-bottom: 30px;
    }
    
    .contact_box a {
        margin-top: 35px;
    }
    /*contact-blog Page End =========== */

    

 
    /* over-ons Page Start======== */
    .over_number_wrp {
        width: 100%;
        display: block;
    }

.ovn_blk {
    margin-bottom: 45px;
}
    
    section.addres-area.mb_100 {
    margin-bottom: 0;
    flex-direction: column-reverse;
    }
    
    .responsive-map iframe {
        height: 349px;
    }
    .address{
    width: 450px;
    margin: auto;
    padding-left: 30px;
}
.addres_left{
}
section.over_number {
    padding: 60px 0 30px;
}
section#ovn {
    padding-top: 60px;
}
.addres_right {padding: 40px 0;}

.address ul {
    margin-top: 15px;
}
    /* over-ons Page End =========== */
 
    /* Page Start======== */
    
    /* Page End =========== */

 
    /* Page Start======== */
    
    /* Page End =========== */
 
}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.cb_left.blog_cont{
    padding-left: 20px;
}
 
}
